* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', 'sans-serif';
}

body {
    color: #ededed;
    background-color: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#051129 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.header a:hover {
    color: #0ef;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /*background: url(https://tse1.mm.bing.net/th?id=OIP.RjuexHQQc-_yT1bahWcBywHaE8&pid=Api&P=0&h=180)no-repeat;
    */
    background-color: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.about{
    display: grid;
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    color: black;
    padding-left: 90px;
    padding-bottom: 50px;
    padding-right: 40px;
}
.about-img img{
    border-radius:5px ;
    max-width: 200px;
    height: auto;
    padding-left: 50px;
    width: 60%;
    margin-left: 200px;
    
}
.about-text h2{
    font-size: 50px;
    color: #c2dff3;
}
.about-text h2 span{
    color: rgb(5, 109, 116);
}
.about-text h4{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    text-align: justify;
}
#education{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    
}
.sub-title{
    text-align: left;
    font-size: 50px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.education-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.education-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
            1px 1px 40px #0053b8f7
}
.education-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.education-list div p{
    word-spacing: 2px;
    font-size: medium;
    
}
.education-list div span{
    color: #0ef;
}
.read{
    display: inline-block;
    margin-top: 20px;
    padding: 5px 15px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration:none ;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.education-list div:hover{
    transform: translateY(-10px);
}
.sub-title1{
    font-size: 50px;
    
   
}
.sub-title1 span{
    color: #0ef;
}
.section{
    display: flex;
    justify-content:left;
}
.container1{
    padding-left: 90px;
    padding-top: 90px;
    
}
.container1_1{
    padding-left:90px ;
    display: inline-block;

}
.container1_2{
    padding-left: 90px;
    display: inline-block;
}
.container1_1 p{
    padding: 10px 25px 10px 25px;
}
.container1_1 a{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    
}
.container1_1 img{
    padding: 5px;
}
.container1_1 a:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.skill{
    border-radius: 20px;
    width: 400px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
            1px 1px 40px #0053b8f7
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.skill h1{
    text-align: center;
}
.skill ul,h1{
    padding: 20px;
    
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    width: 80%;
    border: 0.px solid rgba(88, 212, 240, 0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(90, 203, 248, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(114, 195, 229, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bar span{
    height:20px;
    float: left;
    background: linear-gradient(135deg, rgb(10, 155, 192)0%, rgb(85, 77, 228)100%);

}
.container1_1 div:hover{
    transform: translateY(-10px);
}
.ul-percentage{
    float: left;
}
.teammanage{
    width: 70%;
    animation: teamwork 3s;
}
.Presentation{
    width: 75%;
    animation: presentation 3s;
}
.teamwork{
    width: 70%;
    animation: management 3s;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    padding: 90px;
    margin-top: 130px;
}
.contact-text h2{
 font-size:50px;
 line-height: 1;
 text-align: left;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-family: 600;
    text-align: left;

}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    text-align:justify;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
    line-height: 30px;
    
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01)translateY(-5px);
    color: #0ef;
}
.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icon i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef ;

}
.contact-form{
    padding: 20px;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: #f2f2f6;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding:14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration:none ;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}











@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}